

body{
    background-image: url(recursos/Background.jpg);
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover; 
    min-height: 100vh; 
    text-align: center; 
}

#general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: gray;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 5px solid white;
}

#general p{
    font-family: "Changa One";
    color: white
}

#general .links{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    height: auto;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Rubik Spray Paint";
    flex-wrap: wrap;
}

.links img{ 
    width: 3.5rem;
    height: 3.5rem;
    display: block;
    max-width: 60px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-family: "Bitcount Prop Single", system-ui;
    font-weight: 600;
    font-size: 50px;
    color: pink;

}

p{
    color: white;
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

#general .texto-diario{
    text-align: center;
}

img{
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: rgb(68, 58, 58);
}

a:hover{
    color: rgb(53, 53, 92)
}

#random img{
margin-right: auto; 
margin-left: auto;
}