

body{
    background-image: url(recursos/Background.jpg);
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover; 
    min-height: 100vh; 
    text-align: center; 
}

#general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: gray;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 5px solid white;
}

#general p{
    font-family: "Changa One";
    color: white
}

#general .links{
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 50px;
    height: auto;
    font-family: "Rubik Spray Paint";
}

.links #yt{
margin-left: 12px;
}

.links #twt{
margin-left: 7px;
}

.links #pomf{
margin-left: 2px;
}

.links #kofi{
margin-left: 0px;
}

.links #marsh{
margin-left: 4px;
}

h1{
    text-align: center;
    font-family: "Bitcount Prop Single", system-ui;
    font-weight: 600;
    font-size: 50px;
    color: pink;

}

p{
    color: white;
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

#general .texto-diario{
    text-align: center;
}

#general .links a, img{
    display: block;
}

img{
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: rgb(68, 58, 58);
}

a:hover{
    color: rgb(53, 53, 92)
}

#random img{
margin-right: auto; 
margin-left: auto;
}